@font-face{
    font-family: "Konisberg";
    src: url('fonts/K”nigsberg\ Demo.otf')

}
@font-face {
    font-family: "Kosugi";
    src: url('fonts/Kosugi-Regular.ttf');
}


body{
    background-color: #555555;
    color: white;
    font-family: "Konisberg";
}



#title-div{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
    margin-left: 1%;

}

.subtitle{
    font-family: 'Kosugi';
    font-size: 2.3vmax;
}

#top-sub{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 0px;
    margin-top: 3%;
}
#bot-sub{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 0.8%;
}

#filler1{
    height: 15vh;
}
#form{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 2vh;
}
input[type=email]{
    border-radius: 90px;
    height:10vh;
    width: 25vw;
    background-color: #424242;
    box-shadow: inset 0px 7px 10px -5px #000000;
    border: transparent;
    font-family: 'Kosugi';
    text-align: center;
    font-size: 1.5vmax;
    color: #FFFFFF;

}

input::placeholder{
    font-family: 'Kosugi';
    text-align: center;
    font-size: 1.5vmax;
    color: #FFFFFF;
    opacity: 40%;
}

#button{
    align-items: center;
    justify-content: center;
    display: flex;
}

button{
    border-radius: 90px;
    height: 10vh;
    width: 25vw;
    background-color: #FF831F;
    box-shadow: 0px 7px 10px -5px #000000;
    border: transparent;
    color: #424242;
    font-family: 'Kosugi';
    font-size: 1.8vmax;
    text-shadow: 0px 0px 20px 0px #000000;
}

button:active{
    box-shadow: inset 0px 0px 20px 3px #000000;
    
}





